*~
*.1
*.la
*.lo
*.o

/local*

/.deps/
/.gdb_history
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/libtool
/ltmain.sh
/install-sh
/missing
/run
/stamp-h1
/virt-bmap
